<div class="assignroles">
<span><b/>Roles page lets you Manage the Roles of Existing Users</span><br/><br/>
			<table class="borderDiv" id="updateRole">				
				<tr><td class="col1"><span> Select User </span></td>
					<td class="col2">
						<select class="select_user" id="select_user">
							<option selected="selected">Select User</option>
						</select>
					</td>
				</tr>
				<tr><td class="col1"><span> Select Role </span></td>
					<td class="col2">
						<select class="choose_Role" id="choose_Role">
							<option selected="disabled selected">Select Role</option>
						</select>
					</td>
				</tr>			
			</table><br/>
			<button name="setRole" class="btn btn-primary btnLeft" id="update" value="UPDATE">UPDATE ROLE</button>
</div>