<html>
<head><title> Organizer Login </title> 
<h1 style="color:black;" class="heading">Event Organizer Login </h1>
<img src="creative.jpg" width="850px" height="500px">
 </head>
<link rel="stylesheet" href=".views/views/css/bootstrap new.css" media="all"/>
	<body class="rainbow">
	<div class="bsa well login"><div class="loginAlign">
	   <table>
	    <tr></tr>
	    <tr><td>Username: </td><td><input type="text" class="form-control"></td><td><span class=""></span>
	    </td></tr>
	      <tr><td>Password: </td><td><input type="password" class="form-control"></td><td><span clas="">
	      </span></td></tr>
	      <tr><td></td><td><input type="checkbox" name="remember"/> Remember Me</td></tr>
	         <tr><td></td><td><a class="btn btn-primary btn-lg">Login</a><p><a class="btn btn-primary btn-lgA">Register</a></p></td></tr></div>
	        </div>
	</body>        
</html>