<div class="editroles">
<span><b/>Edit Existing Role</span><br/>
			<table class="borderDiv" id="editRole">
				<tr><td class="col1">Choose the Roles you want to Edit</td>
					<td class="col2">
						<select class="edit_Role" id="add_Role_forPage">
							<option selected="selected">Select Role</option>
						</select>
					</td>
				</tr>
				<tr> <td class="col1"> Edit Role Name as </td>
					<td class="col2">
						<input type="text" id="editedValue"/>
					</td>
				</tr>
			</table>

		<button class="btn btn-primary buttonright" id="editpge"> Done </button>
</div>