<div class="menu_links">
	<ul class="org_menu">
		<li> <a href="#"> Welcome Admin </a> </li>
		<li> <a href="" id="log_out"> Log out </a> </li>
		<li> <a href="chng_pwd"> Change password </a> </li>
	</ul>
</div>
<h1 style="color:black;" class="head">List of Event Organizers</h1>
<div class="bsa well list_organizer">
	<div class="loginAlign">			
	<a href="" id="create_organizer">Create Organizers </a> <br/>

	    <table border="1" id="my_organizer"> </table> 

    </div>
</div>	     
 