<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Merchant Business Intelligence by dealgobbler.com</title>

    <!-- Bootstrap core CSS -->
    <link href="./views/views/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./views/views/css/vouchers.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
   
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
   
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

</head>

  <body>
     <body>
  <!-- NAVIGATION START -->
    <div class="navbar-inverse">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span style="color:#942068;">deal</span><span style="color:#75DD2D;">gobbler.com</span></a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Vouchers</a></li>
            <li><a href="#about" data-toggle="tooltip" title="Comming Soon!" data-placement="bottom">Analytics</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- NAVIGATION END -->

    <!-- CONTENT START -->
    <div class="container">
        <!-- <img id="mer_logo" src="http://www.placehold.it/200x100" class="pull-right" style="margin: 26px 0 20px 5px;"> -->
        <img id="M_image" for="M_image" src="" class="pull-right" />
        <h1>Welcome <span for="M_Name"></span>, </h1>
        
        <p class="lead">You can access your deal vouchers sold from this page. To look for any name, code, order ID, enter it in the search box and your results will be shown magically.</p>
        
        <div class="row">
          <div class="col-lg-12">
          <form class="dealselect-form">
            <select name="" id="dealselect" class="form-control">
              <option value="1">Signature Spa Retreat at Chill Spa with 80-minute full body massage plus half-hour honey, mixed berry, lemon or apricot scrub, all for AED 149 - With sauna, steam and pool access!</option>
              <option value="2">Relaxing Retreat with 90-minute luxury cruise and 90-minute private island retreat with BBQ meal (veg/non-veg options) at Al Hamdan Island for AED 149 only</option>
              <option value="3">Hair color, waxing, mani-pedi & more</option>
              <option value="4">Yacht cruise & island retreat</option>
              <option value="5">Brazilian Keratin at Millenium Plaza Hotel</option>
            </select>
            <button type="submit" id ="dealsel_btn" class="btn btn-success pull-right">Load Vouchers from selected deal</button>
          </form>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            
            <div id="error_pannel" class="alert alert-danger">Oops! There was an error. Please reload the page. If deal still does't load pease contact support@dealgobbler.com. Thank you for your patience :)</div>
            
            <div class="panel" id="dealinfopanel">This deal has sold <span for="D_vcount" class="badge">0</span> vouchers. Deal price: AED <span for="D_price" class="badge">0</span>. Assigned Executive for this deal is <span for="D_agent" class="badge">Oops, no one :(</span>
            <a for="D_url" href="#" target="_blank">Click here to visit deal page.</a>
            </div>
        </div>
        
        <div class="row">
          <input type="text" class="form-control" id="xCore3000Search" placeholder="Voucher Search: Start typing Customer Name, Order ID or Coupon Code">
        </div>
        <div class="btn-group">
			  <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
			    Change Voucher Status
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
			    <li>Set as Used</li>
			    <li>Set as Unused</li>
			    <li>Set as Refund</li>
			    <li>Set as Fraud</li>
			    <li>Set as Invalid</li>
			  </ul>
			</div>
        <!-- Sample Table vith values -->
        <div id="voucher_table_div">
        </div>

        <div class="row">
          <div class="col-lg-12">
            <h4>You can either export above loaded vouchers or ALL your lifetime vouchers to Excel.</h4><button id="btn_e2eL" type="button" class="btn btn-success">Export above loaded vouchers to Excel</button><button id="btn_e2eA" type="button" class="btn btn-success">Export ALL lifetime vouchers to Excel</button>
          </div>
        </div>

    </div><!-- /.container -->
    
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">dealgobbler.com (C) Varun D and Madan U S.</p>
      </div>
    </div>
    
    <script type="text/javascript">
    //DEMO DATA for merchantDeals. This can be combined with firstMerchant!
    merchantDeals = {
      'dealid' : 'Voucher name for the deal. Not name or short_name. This will help supliers recognize their deals.',
      123 : "Full hair color, waxing, manicure, pedicure and more at Papion Beauty Salon at Movenpick for AED 149",
      343 : "Blah Blah another deal asc. with their ID and name."
    };

    //DEMO DATA for loadedDeal. Each loaded Deal will rerunt a sinle loadedDeal variable containing all deal and voucher information for the particular ID.

    loadedDeal = {
    "deal_id": 324,
    "deal_name": "Full hair color, waxing, manicure, pedicure and more at Papion Beauty Salon at Movenpick for AED 149",
    "voucher_title": "Full hair color, waxing, manicure, pedicure and more at Papion Beauty Salon at Movenpick",
    "deal_url": "http://dev.dealgobbler.com/dubai/salon/dubai-deal-spa-salon-stunning-beauty-waxing-hair-color-manicure-pedicure-threading-papion-892.html",
    "voucher_count": 560,
    "deal_price": 34,
    "agent_name": "miriam@dealgobbler.com",

    "vouchers_Columns": [
        { "sTitle": "Engine" },
        { "sTitle": "Browser" },
        { "sTitle": "Platform" },
        { "sTitle": "Version", "sClass": "center" },
        { "sTitle": "Grade", "sClass": "center" }
      ],

    "vouchers_Data": [
        /* Reduced data set */
        [ "Trident", "Internet Explorer 4.0", "Win 95+", 4, '<input type="checkbox" value="">' ],
        [ "Trident", "Internet Explorer 5.0", "Win 95+", 5, '<input type="checkbox" value="">' ],
        [ "Trident", "Internet Explorer 5.5", "Win 95+", 5.5, '<input type="checkbox" value="">'],
        [ "Trident", "Internet Explorer 6.0", "Win 98+", 6, "A" ],
        [ "Trident", "Internet Explorer 7.0", "Win XP SP2+", 7, "A" ],
        [ "Gecko", "Firefox 1.5", "Win 98+ / OSX.2+", 1.8, "A" ],
        [ "Gecko", "Firefox 2", "Win 98+ / OSX.2+", 1.8, "A" ],
        [ "Gecko", "Firefox 3", "Win 2k+ / OSX.3+", 1.9, "A" ],
        [ "Webkit", "Safari 1.2", "OSX.3", 125.5, "A" ],
        [ "Webkit", "Safari 1.3", "OSX.3", 312.8, "A" ],
        [ "Webkit", "Safari 2.0", "OSX.4+", 419.3, "A" ],
        [ "Webkit", "Safari 3.0", "OSX.4+", 522.1, "A" ]
      ],
    "status": {"type":"Success","message":"Retrieved Successfully"}
    };

    </script>
    
    <script type="text/javascript">

      $(document).ready(function() {
        
        //alert(firstMerchant);

        //Fill in Merchant Name
        $('[for="M_Name"]').text(firstMerchant.merchant.name);

        //Fill in Merchant Image
        $('[for="M_image"]').attr('src', firstMerchant.merchant.image);

        //Fill in Deal Info
        $('[for="D_vcount"]').text(loadedDeal.voucher_count);
        $('[for="D_price"]').text(loadedDeal.deal_price);
        $('[for="D_agent"]').text(loadedDeal.agent_name);
        $('[for="D_url"]').attr('href', loadedDeal.deal_url);

        //Error Handling
        if (loadedDeal.status.type != "Success") { $('#dealinfopanel').hide("fast", function(){ $('#error_pannel').show("fast");  });}

         $('#voucher_table_div').html( '<table cellpadding="0" cellspacing="0" border="0" class="display" id="voucher_table"></table>' );
        vTable = $('#voucher_table').dataTable( {
          "bPaginate": false,
          "bLengthChange": false,
          "bFilter": true,
          "bAutoWidth": false,
          "aaData":loadedDeal.vouchers_Data,
          "aoColumns": loadedDeal.vouchers_Columns
        } );   
      
        // Remove default search UI
        $('#voucher_table_filter').remove();

        //Search to use custom input box
        $('#xCore3000Search').keyup(function(){
          vTable.fnFilter( $(this).val() );
        });

        // Focus on custom search box
        $(function(){
          $("#xCore3000Search").focus();
        });



    } );


    </script>
  
  </body>
</html>
