    <!-- CONTENT START -->
    <div class="myinfo">
      <form id='signupform' class="form-signin" >
        <div id="profileInformation" class="profileInformation">
        <h4 class="form-signin-heading">Profile Information </h4>        
            <span>Full Name:</span> <input type='text' id='P_fullname' name='P_fullname' class="P_fullname" placeholder="Full Name"><br/><br/>
            <span>Phone No:</span> <input type='text' id='P_phoneno' name='P_phoneno' class="phoneno" placeholder="phone Number"><br/><br/>
            <span>Address:</span> <textarea rows="3" cols="27" id='P_address' name='P_address' class="address" placeholder="Enter your address"></textarea>
           <br/><div id="profileStatus" class="Status"></div><br/>
        </div>

        <div id="iceContact1" class="iceContact1">
        <h4 class="form-signin-heading">Ice Contact 1 </h4>
            <span>Full Name:</span> <input type='text' id='IC1_fullname' name='IC1_fullname' class="fullname" placeholder="Full Name"><br/><br/>
            <span>Phone No:</span> <input type='text' id='IC1_phoneno' name='IC1_phoneno' class="phoneno" placeholder="phone Number"><br/><br/>
            <span>Address:</span> <textarea rows="3" cols="27" id='IC1_address' name='IC1_address' class="address" placeholder="Enter your address"></textarea>
           <br/><div id="Ice1Status" class="Status"></div><br/>
        </div>

        <div id="iceContact2" class="iceContact2">
        <h4 class="form-signin-heading">Ice Contact 2 </h4> 
            <span>Full Name:</span> <input type='text' id='IC2_fullname' name='IC2_fullname' class="fullname" placeholder="Full Name"><br/><br/>
            <span>Phone No:</span> <input type='text' id='IC2_phoneno' name='IC2_phoneno' class="phoneno" placeholder="phone Number"><br/><br/>
            <span>Address:</span> <textarea rows="3" cols="27" id='IC2_address' name='IC2_address' class="address" placeholder="Enter your address"></textarea>
           <br/><br/>
         </div>

        <div id="medicalInformation" class="medicalInformation">
        <h4 class="form-signin-heading">Medical Information </h4>
            <span>Blood Group:</span> <input type='text' id='M_bloodgroup' name='M_bloodgroup' class="bloodgroup" placeholder="bloodgroup"><br/><br/>
            <span>Allergies:</span> <textarea id='M_allergies' cols="27" name='M_allergies' class="allergies" placeholder="allergies"></textarea><br/><br/>
            <span>Medical<br/>History:</span> <textarea rows="3" cols="27" id='M_medHistory' name='M_medHistory' class="medHistory" placeholder="Medical History"></textarea>
            <br/><br/>
          </div>

          <div id="doctorContact" class="doctorContact">
          <h4 class="form-signin-heading">Doctor Contact </h4>
            <span>Full Name:</span> <input type='text' id='D_fullname' name='D_fullname' class="fullname" placeholder="Full Name"><br/><br/>
            <span>Phone No:</span> <input type='text' id='D_phoneno' name='D_phoneno' class="phoneno" placeholder="phone Number"><br/><br/>
            <span>Address:</span> <textarea rows="3" cols="27" id='D_address' name='D_address' class="address" placeholder="Enter your address"></textarea><br/>
            <span>Affiliated<br/>Hospital:</span> <textarea rows="2" cols="20" id='D_affHospital' name='D_affHospital' class="affHospital" placeholder="Affiliated Hospital"></textarea>
            <br/><br/>
          </div>
      </form>

    </div><!-- /.container -->
    