<div class="bsa well login">
	<!--<img src="./views/views/images/creative.png" width="850px" height="500px" class="leftImage">-->
	<form class="" method='post'>
	<div class=""><span id="displayError"></span>
	   	<table>
	    	<tr></tr>
	    	<tr><td class="credentials">Username: </td><td><input type="text" name="username" id="username" class="form-control"></td><td><span class=""></span></td></tr>
	    	<tr><td>&nbsp;</td></tr>
	      	<tr><td class="credentials">Password: </td><td><input type="password" name="password" id="password" class="form-control"></td><td><span class="">
	      </span></td></tr>
	      <tr><td></td><td><input type="checkbox" name="remember"/> 
	      	<span class="information">Remember Me </span></td></tr>
	      <tr><td></td><td><button class="btn btn-primary " id="signin">Login</button>
	      	<button class="btn btn-primary " id="register">Register</button></td></tr>
	     </table>
	</div>
	</form>
</div>

