
<div class="twoColumnContent cont_align_user">
	<div id="view_ticket_records_form">
	 	<div class="contentArea">
		
        <div class="pageHead"><h2>Manage User "This organization" </h2></div>
            <div class='my_profile_form'>
            <!-- Content Starts -->    
                <div class='manage_user_form'>
		            <form id='organizer_form' name='organizer_form' method="post" action=''>

		            	<table class="add_user_table">		            		
		            	</table>

		            	<h2> Add Users </h2>
	            		<label> Add User for Event Organiser </label>
	            		<div>
	            			<label> Name </label> 
	            			<input type="text" name="org_user_name" id="org_user_name" class="form-controls"> <br/>
	            			<label> Mobile No </label>
	            			<input type="text" name="org_user_mob" id="org_user_mob" class="form-controls"> <br/>
	            			<label> Email id </label>
	            			<input type="text" name="org_user_email" id="org_user_email" class="form-controls"> <br/>
	            			<label> Password </label>
	            			<input type="password" name="org_user_pass" id="org_user_pass" class="form-controls"> <br/>
	            			<input type="submit" value="submit" id="create_user" class="btn btn-success form-controls">
	            		</div>
		            </form>
        		</div>
			</div>

		</div>
	</div>
</div>
