<div class="twoColumnContent cont_align">
	 <div id="view_ticket_records_form">
	 	<div class="contentArea">
		
         <div class="pageHead"><h2>Modify Organizer</h2></div>
                <div class='my_profile_form'>
                <!-- Content Starts -->
    
                <div class='create_user_form'>
            <form id='organizer_form' name='organizer_form' method="post">           
            
            <input type="hidden" name="created_by" value="" />
                    <div class="row-fluid">
                        <div class="span5">
                            <label for="ticket_name">Organizer Name <span class="f_req">*</span></label>
                            <input type='text' name='org_name' id='organize_name' value='' class="required span12 form-controls" minlength="3" maxlength="50"/>
                         </div>
                         <div class="span5">
                            <label for="ticket_name">Contact Person</label>
                            <input type='text' name='contact_person' value='' id='contact_person' class="span12 form-controls" minlength="3" maxlength="50"/>
                         </div>
                       
                    </div>
                    <div class="row-fluid">
                         <div class="span5">
                            <label>Email<span class="f_req">*</span></label>
                           
                            <input type='text'  name='email' id='email' value='' class=" required email span12 form-controls" />
                            <span id="availability_status">Email availability Message</span>
                        </div>
                        <div class="span5">
                            <label for="mobile">Mobile <span class="f_req">*</span></label>
                            <input type='text' name='mobile' value='' id='mobile' class="required number span12 form-controls" minlength="3" maxlength="10"/>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <label for="address">Address </label><br /><br />
                           <textarea name="address" rows="3" id='address' cols="30" style="padding-left:0px;"></textarea>
                        </div>
                      
                       <div class="span5">
                           
                        </div>
                    </div>
                    <br/>
                     <div class="pageHead"><h3>Bank Details</h3></div>
                    <div class="row-fluid">
                        <div class="span5">
                            <label>A/C Name <span class="f_req">*</span></label>
                            <input type='text' name='account_name' id='ac_name' value='' class="required span12 form-controls"/>
                        </div>
                         <div class="span5">
                            <label>A/C Number <span class="f_req">*</span></label>
                            <input type='text' name='account_no' value='' id='ac_no' class="required  span12 form-controls"/>
                        </div>                    
                    </div>
                    <div class="row-fluid">
                       <div class="span5">
                            <label>Bank Name <span class="f_req">*</span></label>
                            <input type='text' name='bank' id='bank_name' value='' class="required span12 form-controls"/>
                        </div>  
                        <div class="span5">
                            <label>Branch <span class="f_req">*</span></label>
                            <input type='text' name='branch' value='' id='bank_branch' class="required span12 form-controls"/>
                        </div>
                    </div>
                     <div class="row-fluid">
                       <div class="span5">
                            <label>IFSC Code</label>
                            <input type='text' name='ifsc_code' value='' id='ifsc_code' class="span12 form-controls"/>
                        </div>  
                        <div class="span5">
                            <label>SIWIFT Code</label>
                            <input type='text' name='siwift_code' value='' id='siwift_code' class="span12 form-controls"/>
                        </div>
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span5">
                            <label for="address">Description </label><br /><br />
                           <textarea name="description" rows="3" id='desc' cols="30" style="padding-left:0px;"></textarea>
                           <br/><br/>
                        </div> 
                    </div>
                        
                    <div class="row-fluid">
                        <div class="span5">
                            <input type="button" name="submit" value="Active" class="btn btn-success" >
                            <input type="button" name="submit" value="InActive" class="btn btn-fail" > <br/><br/>
                        </div>
                    </div>
                    
                    <div class="form-actions">
                        <input type="submit" name="submit" id="modify_organizer" value="Submit" class="btn btn-success" >
                        <a class="btn" href="<?php echo($eventus_tix_base_url); ?>/views/admin/view_organizer.php">Cancel</a>
                    </div>
            </form>                   
         </div>
    </div>
		
		</div> <!-- ContentArea -->
	</div> <!-- View Form Ends -->	
</div><!-- twocolumncontent Ends Here -->