    <!-- CONTENT START -->
    <div class="myinfo">
      <form id='signupform'>
        <div id="profileInformation" class="profileInformation">
        <h4 class="form-signin-heading">Profile Information </h4>        
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Full Name</label> <input type='text' id='P_fullname' name='P_fullname' class="form-controls" placeholder="Full Name"><br/><br/>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone No</label><input type='text' id='P_phoneno' name='P_phoneno' class="form-controls" placeholder="phone Number"><br/><br/>
           <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address</label><textarea rows="3" cols="27" id='P_address' name='P_address' class="form-controlsTA" placeholder="Enter your address"></textarea>
           <br/><div id="profileStatus" class="Status"></div><br/><br/>
        </div>

        <div id="iceContact1" class="iceContact1">
        <h4 class="form-signin-heading">Ice Contact 1 </h4>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Full Name</label><input type='text' id='IC1_fullname' name='IC1_fullname' class="form-controls" placeholder="Full Name"><br/><br/>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone No</label><input type='text' id='IC1_phoneno' name='IC1_phoneno' class="form-controls" placeholder="phone Number"><br/><br/>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address</label><textarea rows="3" cols="27" id='IC1_address' name='IC1_address' class="form-controlsTA" placeholder="Enter your address"></textarea>
           <br/><div id="Ice1Status" class="Status"></div><br/>
        </div>

        <div id="iceContact2" class="iceContact2">
        <h4 class="form-signin-heading">Ice Contact 2 </h4> 
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Full Name</label><input type='text' id='IC2_fullname' name='IC2_fullname' class="form-controls" placeholder="Full Name"><br/><br/>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone No</label><input type='text' id='IC2_phoneno' name='IC2_phoneno' class="form-controls" placeholder="phone Number"><br/><br/>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address</label><textarea rows="3" cols="27" id='IC2_address' name='IC2_address' class="form-controlsTA" placeholder="Enter your address"></textarea>
           <br/>
         </div>

        <div id="medicalInformation" class="medicalInformation">
        <h4 class="form-signin-heading">Medical Information </h4>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blood Group</label><input type='text' id='M_bloodgroup' name='M_bloodgroup' class="form-controls" placeholder="bloodgroup"><br/><br/>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Allergies</label><textarea id='M_allergies' cols="27" name='M_allergies' class="form-controlsTA" placeholder="allergies"></textarea><br/><br/>
            <label class="area">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medical<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;History</label><textarea rows="3" cols="27" id='M_medHistory' name='M_medHistory' class="form-controlsTA" placeholder="Medical History"></textarea>
            <br/>
          </div>

          <div id="doctorContact" class="doctorContact">
          <h4 class="form-signin-heading">Doctor Contact </h4>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Full Name</label><input type='text' id='D_fullname' name='D_fullname' class="form-controls" placeholder="Full Name"><br/><br/>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone No</label><input type='text' id='D_phoneno' name='D_phoneno' class="form-controls" placeholder="phone Number"><br/><br/>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address</label><textarea rows="3" cols="27" id='D_address' name='D_address' class="form-controlsTA" placeholder="Enter your address"></textarea><br/><br/>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Affiliated<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hospital</label><textarea rows="2" cols="27" id='D_affHospital' name='D_affHospital' class="form-controlsTA" placeholder="Affiliated Hospital"></textarea>
            <br/>
          </div>

          <div id="status" class="status">            
          </div>

          <button class="infoRegister" type="button" id='register'>Save</button>
          <button class="infoCancel" type="button" id='cancel'>Cancel</button>

      </form>
  <form class="QR" action="QR">
    String to convert: <input class="form-controls" name="fulltext" id="fulltext" /><input type="submit" class="infoShow" value="Show QR" />
  </form>
    </div><!-- /.container -->
      
    