<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700" media="screen" rel="stylesheet" type="text/css" />
    <link href="./views/views/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="./views/views/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="./views/views/css/common.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="./views/views/css/fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="./views/views/css/project.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="./views/views/css/Profileupdate.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->
    <!-- JAVA SCRIPT / JS  -->
    <script language = "javascript" src = "http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script language = "javascript" src = "./views/views/js/Profileupdate.js"></script>


    <title>Update profiles</title>
  </head>
  
  <body>
    <div id="page-wrapper">
      <div id="absolute-wrapper">
       <!-- <div class="navbar">
          <div class="navbar-inner"></div>
        </div>
        <li class="li-1 li-2 li-3">
          <a href="#">Log out</a>
        </li>
        <li class="li-1 li-2 li-4">
          <a href="#">Contact us</a>
        </li>
        <li class="li-1 li-2 li-5">
          <a href="#">Demo</a>
        </li>
        <li class="li-2 li-6">
          <a href="#">Home</a>
        </li>
        <a class="brand" href="#">Hire2Win</a> -->
        <div class="alert">
          <button type="button" class="btn close">x</button> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Success: <strong>Profile Updated Successfully</strong></strong>
        </div>
<i class="icon icon-bell"></i>

        <h1 class="heading" id="title">Update Candidate Profile</h1>
        <div class="well well-1"> <i class="icon icon-save"></i>  <i class="icon icon-remove-circle"></i> 
        </div>
<i class="icon icon-remove-sign icon-remove-sign-1 icon-remove-sign-2 icon-remove-sign-3 icon-remove-sign-6"></i>

<i class="icon icon-ok-sign icon-ok-sign-1 icon-ok-sign-4"></i>

        <li class="span4">
          <div class="thumbnail">
            <img class="image" src="./views/views/css/images/profile.jpg">
          </div>
        </li>
        <input placeholder="Enter First Name" id="firstname" name="firstname" class="textinput textinput-1 textinput-2 textinput-3 textinput-6" type="text">
        <label class="control-label control-label-1 control-label-4">First Name</label>
        <label class="control-label control-label-1 control-label-5">Last Name</label>
<i class="icon icon-remove-sign icon-remove-sign-1 icon-remove-sign-2 icon-remove-sign-3 icon-remove-sign-7"></i>

<i class="icon icon-ok-sign icon-ok-sign-1 icon-ok-sign-5"></i>

        <input placeholder="Enter Last Name" name="lastname" id="lastname" class="textinput textinput-1 textinput-2 textinput-4 textinput-7" type="text">
        <input placeholder="Enter Phone No" name="phoneno" id="phoneno" class="textinput textinput-1 textinput-4 textinput-5 textinput-8" type="text">
<i class="icon icon-remove-sign icon-remove-sign-1 icon-remove-sign-4 icon-remove-sign-8"></i>

<i class="icon icon-ok-sign icon-ok-sign-2 icon-ok-sign-6"></i>

        <label class="control-label control-label-1 control-label-6">Phone No</label>
        <input placeholder="Enter Email Id" name="email" id="email" class="textinput textinput-1 textinput-4 textinput-5 textinput-9" type="text">
<i class="icon icon-remove-sign icon-remove-sign-1 icon-remove-sign-2 icon-remove-sign-3 icon-remove-sign-9"></i>

<i class="icon icon-ok-sign icon-ok-sign-1 icon-ok-sign-7"></i>

        <label class="control-label control-label-7">Email Id</label>
        <input placeholder="Enter Designation" name="" class="textinput textinput-1 textinput-2 textinput-4 textinput-10" type="text">
<i class="icon icon-remove-sign icon-remove-sign-1 icon-remove-sign-2 icon-remove-sign-3 icon-remove-sign-10"></i>

<i class="icon icon-ok-sign icon-ok-sign-1 icon-ok-sign-8"></i>

        <label class="control-label control-label-1 control-label-8">Designation</label>
        <input placeholder="Enter Current Employer" name="" class="textinput textinput-1 textinput-2 textinput-11" type="text">
<i class="icon icon-remove-sign icon-remove-sign-1 icon-remove-sign-2 icon-remove-sign-4 icon-remove-sign-11"></i>

<i class="icon icon-ok-sign icon-ok-sign-2 icon-ok-sign-9"></i>

        <label class="control-label control-label-1 control-label-9">Current Employer</label>
<i class="icon icon-remove-sign icon-remove-sign-1 icon-remove-sign-2 icon-remove-sign-3 icon-remove-sign-12"></i>

<i class="icon icon-ok-sign icon-ok-sign-1 icon-ok-sign-10"></i>

        <input placeholder="Enter Current CTC" name="" class="textinput textinput-1 textinput-2 textinput-3 textinput-12"
        type="text">
        <label class="control-label control-label-1 control-label-2 control-label-10">Current CTC</label>
        <input placeholder="Enter Expected CTC" name="" class="textinput textinput-2 textinput-3 textinput-13" type="text">
<i class="icon icon-remove-sign icon-remove-sign-1 icon-remove-sign-2 icon-remove-sign-4 icon-remove-sign-13"></i>

<i class="icon icon-ok-sign icon-ok-sign-2 icon-ok-sign-11"></i>

        <label class="control-label control-label-1 control-label-2 control-label-11">Expected CTC</label>
        <input placeholder="Enter Current Location" name="" class="textinput textinput-2 textinput-3 textinput-14" type="text">
<i class="icon icon-remove-sign icon-remove-sign-1 icon-remove-sign-2 icon-remove-sign-3 icon-remove-sign-14"></i>

<i class="icon icon-ok-sign icon-ok-sign-1 icon-ok-sign-12"></i>

        <label class="control-label control-label-1 control-label-2 control-label-12">Current Location</label>
<i class="icon icon-remove-sign icon-remove-sign-5 icon-remove-sign-15"></i>

<i class="icon icon-ok-sign icon-ok-sign-3 icon-ok-sign-13"></i>

        <label class="radio radio-1">
          <input name="" value="" type="radio">
          <span>Yes</span>
        </label>
        <label class="control-label control-label-1 control-label-13">Willing to relocate ?</label>
        <label class="radio radio-2">
          <input name="" value="" type="radio">
          <span>No</span>
        </label>
        <input placeholder="Ener Year of Experience" name="" class="textinput textinput-2 textinput-15" type="text">
<i class="icon icon-remove-sign icon-remove-sign-1 icon-remove-sign-2 icon-remove-sign-5 icon-remove-sign-16"></i>

<i class="icon icon-ok-sign icon-ok-sign-3 icon-ok-sign-14"></i>

        <label class="control-label control-label-1 control-label-2 control-label-14">Year of Experience</label>
        <textarea class="textarea-1" placeholder="Enter Skill keywords" name=""></textarea>
<i class="icon icon-remove-sign icon-remove-sign-1 icon-remove-sign-2 icon-remove-sign-3 icon-remove-sign-17"></i>

<i class="icon icon-ok-sign icon-ok-sign-1 icon-ok-sign-15"></i>

        <label class="control-label control-label-1 control-label-3 control-label-15">Skills Keywords</label>
        <label class="control-label control-label-1 control-label-3 control-label-16">(comma seperated)</label>
<i class="icon icon-remove-sign icon-remove-sign-1 icon-remove-sign-2 icon-remove-sign-18"></i>

<i class="icon icon-ok-sign icon-ok-sign-16"></i>

        <textarea class="textarea-2" placeholder="Enter Tags Keyword" name=""></textarea>
        <label class="control-label control-label-1 control-label-3 control-label-17">Tags Keywords</label>
        <label class="control-label control-label-1 control-label-3 control-label-18">(comma seperated)</label>
        <input placeholder="" name="" class="textinput textinput-4 textinput-16" type="text">
        <label class="control-label control-label-1 control-label-3 control-label-19">Upload/Delete Resume</label>
<i class="icon icon-remove-sign icon-remove-sign-1 icon-remove-sign-2 icon-remove-sign-5 icon-remove-sign-19"></i>

<i class="icon icon-ok-sign icon-ok-sign-3 icon-ok-sign-17"></i>

<i class="icon icon-upload-alt"></i>

<i class="icon icon-trash"></i>

        <div
        class="well well-2"> <i class="icon icon-save"></i>  <i class="icon icon-remove-circle"></i> 
      </div>
    </div>
    </div>
  </body>

</html>