<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>Dealgobbler CRM</title>

<!-- Bootstrap core CSS -->
<link href="./views/views/css/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="./views/views/css/receivableConsolidation.css" rel="stylesheet">

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

<!-- JS jQuery -->
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>

<!-- JS Bootstrap -->
<script type="text/javascript" charset="utf8" src="./views/views/js/bootstrap.min.js"></script>

<!-- JS DataTables -->
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

<!-- JS Custom JS for this template -->
<script type="text/javascript" charset="utf8" src="./views/views/js/receivablesconsolidation.js"></script>

</head>

  <body>
     <body>
  <!-- NAVIGATION START -->
    <div class="navbar-inverse">
      <div class="container">
        <img src="/dealgobbler/crm/views/views/img/logo.png" id="logoimg"/>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="../crm/dealsettlement">Dealsettlement</a></li>
            <li><a href="../crm/statusupload">Upload Receivables</a></li>
            <!-- <li><a href="#about" data-toggle="tooltip" title="Comming Soon!" data-placement="bottom">Analytics</a></li>
            <li><a href="#contact">Contact</a></li> -->
            <li><a href="logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- NAVIGATION END -->
    <!-- Redirect page -->
    
    <!-- CONTENT START -->
    <div class="container">
        <!-- <img id="mer_logo" src="http://www.placehold.it/200x100" class="pull-right" style="margin: 26px 0 20px 5px;"> -->
        <!-- <img id="M_image" for="M_image" src="" class="pull-right" /> -->
        <h1>Welcome <!-- <span for="M_Name"></span>, --></h1>
        
        <!-- <p class="lead">You can access your deal vouchers sold from this page. To look for any name, code, order ID, enter it in the search box and your results will be shown magically.</p> -->
        <!-- <lable class="filterlabel">Select Merchant: </lable><div class="row">
          <div class="col-lg-12">
            <form class="merchantselect-form">
              <select name="" id="merchantselect" class="filterdropdown">
              </select>
            </form>
          </div>
        </div> -->

        <div class="row">
          <div class="col-lg-12">
          <form class="dealselect-form">
            <!-- <label class="filterlabel">Select Deal:</label>
            <select name="" id="dealselect" class="form-control">
            </select><br/> -->
            <!-- Order status dropdown -->
          <div id="orderstatusfilter_div">
            <label class="filterlabel">Order Status:</label>
            <select name="orderstatusfilter" id="orderstatusfilter" class="filterdropdown">
              <option value="All" selected="selected">All</option>
              <option value="complete">Complete</option>
              <option value="cod">COD</option>
              <option value="pending">Pending</option>
              <option value="pending_payment">Pending Payment</option>
              <option value="pending_review">Pending Review</option>
              <option value="closed">Closed</option>
              <option value="canceled">Canceled</option>
              <option value="fraud">Fraud</option>
            </select><br/>
          </div>
            <!-- Payment Method dropdown -->
          <div id="paymentmethodfilter_div">
            <label class="filterlabel">Payment Type:</label>
            <select name="paymentmethodfilter" id="paymentmethodfilter" class="filterdropdown">
              <option value="All" selected="selected">All</option>
              <option value="migsvpc_server">Credit/Debit card</option>
              <option value="cashondelivery">COD</option>
              <option value="paypal_standard">PayPal</option>
              <option value="free">Store Credit</option>
            </select><br/>
          </div>
            <!-- Order Receivable status dropdown -->
          <div id="orderreceivablestatus_div">
            <label class="filterlabel">Order Receivable Status:</label>
            <select name="orderreceivablestatus" id="orderreceivablestatus" class="filterdropdown">
              <option value="All">All</option>
              <option value="received">Received</option>
              <option value="notreceived">Not Received</option>
            </select><br/>
          </div>
          <!-- Start Date -->
          <div id="startdate_div">
            <label class="filterlabel"><span color="red">*</span>Enter Start Date:</label>
            <input type="text" name="startdate" id="startdatefield" class="filterdropdown"/>
            <br/>
          </div>
          <!-- End Date -->
          <div id="enddate_div">
            <label class="filterlabel"><span color="red">*</span>Enter End Date:</label>
            <input type="text" name="enddate" id="enddatefield" class="filterdropdown"/>
            <br/>
          </div>
          
          <!-- Voucher Payment Status -->
          <!-- <div id="voucherpaymentstatus_div">
            <label class="filterlabel">Voucher Payment Status:</label>
            <select name="voucherpaymentstatus" id="voucherpaymentstatus" class="filterdropdown">
              <option value="paidtosupplier">Paid</option>
              <option value="Unpaid" selected="selected">Unpaid</option>
            </select> 
          </div> -->
            <!-- <button type="button" id ="dealsel_btn" class="btn btn-success pull-right">Load Vouchers from selected deal</button> -->
          </form>
          <input type="submit" id="loadDealsBtn" value="Load Deals"/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            
            <div id="error_pannel" class="alert alert-danger">Oops! There was an error. Please reload the page. If deal still does't load pease contact support@dealgobbler.com. Thank you for your patience :)</div>
            
            <div class="panel" id="dealinfopanel">This deal has sold <span for="D_vcount" class="badge">0</span> vouchers. Deal price: AED <span for="D_price" class="badge">0</span>. Assigned Executive for this deal is <span for="D_agent" class="badge">Oops, no one :(</span>
            <a for="D_url" href="#" target="_blank">Click here to visit deal page.</a>
            </div>
        </div>
        
        <div class="row">
          <img src="/bi/views/views/img/Search.jpg" id="searchimg"/><input type="text" class="form-control" id="xCore3000Search" placeholder="Voucher Search: Start typing Customer Name, Order ID or Coupon Code">
        </div>
       <!-- Single button -->
<!-- <div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Change Voucher Status  <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="javascript:setStatus('used');">Set as Used</a></li>
    <li><a href="javascript:setStatus('refunded');">Set as Refunded</a></li>
    <li><a href="javascript:setStatus('invalid');">Set as Invalid</a></li>
    <li class="divider"></li>
    <li><a href="javascript:setStatus('active');">Reset to Unused</a></li>
  </ul>
</div> -->

      <div id="changeReceivableStatus_div">
          <select id="changeRecievableStatus"> 
              <option value="notsettled">Not Settled</option>
              <option value="settled">Settled</option>
              <option value="partiallysettled">Partially Settled</option>
              <option value="suspense">Suspense</option>
          </select><button id="changeRecievableStatus_btn">Change</button> 
      </div>

        <!-- Sample Table vith values -->
        <div id="voucher_table_div">
        </div>
        <!-- <div id="voucher_table_div">
            <table id="voucher_table_footer">
                <tr id="footer_row">
                    <td id="td1" colspan="2">Totals</td>
                    <td id="td2">0 AED</td>
                    <td id="td3">1 AED</td>
                    <td id="td4">2 AED</td>
                    <td id="td5">3 AED</td>
                    <td id="td6">4 AED</td>
                </tr>                
                <tr>
                    <td id="td1" colspan="2">Totals</td>
                    <td id="td2">0 AED</td>
                    <td id="td3">1 AED</td>
                    <td id="td4">2 AED</td>
                    <td id="td5">3 AED</td>
                    <td id="td6">4 AED</td>
                </tr>
            </table>
        </div> -->
        <div class="row">
          <div class="col-lg-12">
            <!-- <h4>You can either export above loaded vouchers or ALL your lifetime vouchers to Excel.</h4> --><button id="btn_e2eL" type="button" class="btn btn-success">Export above loaded vouchers to Excel</button><!-- <button id="btn_e2eA" type="button" class="btn btn-success">Export ALL lifetime vouchers to Excel</button> -->
          </div>
        </div>

        <!-- Amount summary div -->
        <div id="amount_summary_div" style="display:none">
            <table id="summary_table">
                <tr><td>Total Order Amount</td><td id="totalorderamount"></td></tr>
                <tr><td>Total Settled Amount</td><td id="totalsettled"></td></tr>
                <tr><td>Total Difference</td><td id="totaldifference"></td></tr>
                <tr><td>Total Store Credit Used</td><td id="totalcredit"></td></tr>
                <tr><td>Total Suspence Amount</td><td id="totalsuspence"></td></tr>
            </table>
            <!-- <label>Deal Payment Notes:</label>
            <textarea id="paymentNotes"></textarea>
            <input type="button" name="notes_btn" id="notes_btn" value="Save"/> -->
        </div>

    </div><!-- /.container -->
    
    <div id="footer">
      <div class="container">
        <!-- <p class="text-muted credit">dealgobbler.com (C) Varun D and Madan U S.</p> -->
      </div>
    </div>
  </body>
</html>
