    <div class="container">
    <h1 id="heading">TechArtus Framework</h1>
      <form class="form-signin" method='post'>
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" name='username' id='username' class="input-block-level" placeholder="Username" autofocus value="">
        <input type="password" name='password' id='password' class="input-block-level" placeholder="Password"><div name="displayError" id="displayError" style="display:block;"></div>
        <label class="checkbox">
          <input type="checkbox" name='remember' id='remember'>Remember me</input>
        </label>
        <button class="btn btn-large btn-primary btn-block" type="submit" id='signin'>Sign in</button>
        <button class="btn btn-large btn-primary btn-block" type="button" id='register'>Register</button>
      </form>
    </div>
