    <!-- CONTENT START -->
<div class = "fadeBack" id="fadeBack">
  <div class="container" id="main">
  
      <form id='signupform' class="form-signin" >

        <h2 class="form-signin-heading">Registration</h2>

  <table class="RegistrationTable">

         <tr><td> <b/>Display Name:</td><td><input type='text' id='displayname' name='displayname' class="form-control" placeholder="Display Name"></td><td> <span class="dispError" id="dispError"></span></td></tr>

          <tr><td> <b/>User Name: </td><td><input type='text' id='username' name='username' class="form-control" placeholder="Username"></td><td> <span class="userError" id="userError"></span></td></tr>

          <tr><td> <b/>Password: </td><td><input type='password' id='password' name='password' class="form-control" placeholder="Enter a password"></td><td> <span class="passError" id="passError"></span></td></tr>

          <tr><td> <b/>Re-Type Password: </td><td><input type='password' id='rpassword' name='rpassword' class="form-control" placeholder="Re-enter Password"></td><td> <span class="repassError" id="repassError"></span></td></tr>

          <tr><td> <b/>Email: </td><td><input type='text' id='email' name='email' class="form-control" placeholder="Email Address"></td><td> <span class="emailError" id="emailError"></span><br/></td></tr> 

</table><br/>

          <button class="btn btn-large btn-primary btn-block" type="button" id='register'>Register</button><br/>

          <button class="btn btn-large btn-primary btn-block" type="button" id='cancel'>Cancel
          </button>
          
       </form>
       
  </div><!-- /.container -->  
</div>  