<html lang="en">
  <head>
    <title>TechArtus FrameWork </title>  
    <link rel="stylesheet" href="./views/views/css/bootstrap new.css" media="screen">
    <link rel="stylesheet" href="./views/views/css/signup.css" media="screen">
    <link rel="stylesheet" href="../assets/css/bootswatch.min.css"></head> 
   <body>
      <!-- Forms
      ================================================== -->

        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
               <h1 id="Registration">Registration</h1>
            </div>
          </div>
      </div>

   
            <form class="bs-example form-horizontal">           
              
                  <div class="form-group">
                    <label for="inputuser" class="col-lg-2 control-label">Username</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Username">
        </div>
      </div>  
            <div class="form-group">
              <label for="inputpassword" class="col-lg-2 control-label1">Password</label>
                <div class="col-lg-10">
                  <input type="password" class="form-control" id="inputEmail" placeholder="Password">
      </div>
      
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Re-type Password</label>
                <div class="col-lg-10">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Re-type Password">
                    <div class="checkbox">
                      <div class="form-group">
      </div>                  
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
                       
      </div>
      </div>
      </div>
     
    </body>
    </html>
                  
            