<div class="menu_links">
	<ul class="org_menu">
		<li> <a href="#"> Welcome Admin </a> </li>
		<li> <a href="" id="log_out"> Log out </a> </li>
		<li> <a href="#"> Change password </a> </li>
	</ul>
</div>

<div align="left" class="heads">
	<h5 style="color:black;" class="head">Here are the list of events organised by Event Organiser Name </h5>
	<h5 style="color:black;" class="head"> Click on the event to view reports </h5>
</div>

<div class="bsa well list_organizer">
	<div class="loginAlign">
	    <div id="whole_cont">
	    </div>
    </div>
</div>