<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootswatch: Flatly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="./bootstrap.css" media="screen">
    <link rel="stylesheet" href="../assets/css/bootswatch.min.css">
   
    <!-- Containers
      ================================================== --> 
              <div class="jumbotron" >
                 <h1>TechArtus Framework</h1>
                       
              </div>
                      
       
 
  </body>
</html>
